.dashboard-container{

    height: 100vh;
    display : flex;
    flex-direction: row;


        .sidebar-con{
        width: 20%;
        height: 100vh;
        }

        .main-cont{
        width: 80%;
        // padding: 20px;
        


        .card-cont {
            padding: 30px;
            height: 90vh;
            // padding-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            overflow-y: auto;

        }
        }
}