.signup-container{
    backdrop-filter: blur(10px);
    background-color: none;
    box-shadow: 20px;
    padding: 20px;
    border-radius: 40px;
    width:40vw;
    box-shadow: -5px -2px 68px -11px rgba(0,0,0,0.54);
    -webkit-box-shadow: -5px -2px 68px -11px rgba(0,0,0,0.54);
    -moz-box-shadow: -5px -2px 68px -11px rgba(0,0,0,0.54);
    

    .inner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .heading{
            font-size: 40px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            color: black;
        }

        .hr-line{
            border: 2px solid black;
            border-radius: 40px;
            width: 8rem;
            margin-top: 10px;
        }

        .inputDivs{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        input{ 
            border-radius: 15px;
            width: 30rem;
            background: none;
            border: none;
            border: 1px solid gray;
            outline: none;
            color: white;
            font-size: 18px;
            margin: 18px;
            padding: 15px;
        }

        .passDiv{

        }

        .optionDiv{
            color: #000000;
            cursor: pointer;
            font-weight: bold;
            background: none;
        }

                 
        
}
}